<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cosiml -->
      <package
            uri="http://www.example.org/cosiml"
            class="cosiml.CosimlPackage"
            genModel="model/cosiml.genmodel"/>
   </extension>

</plugin>
